body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: white;
    padding: 20px 0;
    text-align: center;
    color: rgb(102, 8, 102);
}
header h1 {
    margin: 0;
    font-size: 2.5em;
    color: rgb(114, 18, 82);
}
.content-section {
    padding: 20px 0;
}
.content-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
    font-weight: bolder;
}
.content-section p {
    margin-bottom: 20px;
    font-size: 20px;
    color:white;
}
.image {
    text-align: center;
    margin: 20px 0;
}
.image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}
.team, .testimonials {
    background: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
footer p {
    margin: 0;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    .content-section h2 {
        font-size: 1.5em;
    }
    .content-section p {
        font-size: 1em;
    }
    .container {
        width: 95%;
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }
    .content-section h2 {
        font-size: 1.2em;
    }
    .content-section p {
        font-size: 0.9em;
    }
}