body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    text-align: center;
}
header h1 {
    margin: 0;
    padding-bottom: 10px;
}
.gallery {
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
   
    gap: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}